## Assignment 2 (70 marks)
#### =====================================================================================================
### Deadline: 10/11 11:59 pm
#### =====================================================================================================

### Problem 1: Classification (35 marks)

`lab02_dataset_1.xlsx` contains 10,302 observations on various vehicles. You will use the observations in this dataset to train models that predict the usage of a vehicle. The input features which will be used for your training are *AGE, TRAVTIME, CAR_TYPE, OCCUPATION, EDUCATION* and your output label is the binary class *CAR_USE*, whose values are *Private* and *Commercial*.

### 1.a (2 marks)
For the 5 input features, drop any rows with missing values. Output the new length of the training dataset after you drop the missing values among the input features.

In [196]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score
import pprint

In [197]:
data = pd.read_excel('lab02_dataset_1.xlsx', engine='openpyxl')
print(data.shape) 
featurelabels = ['AGE', 'TRAVTIME', 'CAR_TYPE', 'OCCUPATION', 'EDUCATION']
outpuLabel = ['CAR_USE']
data.head()

(10302, 26)

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,TIF,CAR_TYPE,RED_CAR,REVOKED,MVR_PTS,CAR_AGE,URBANICITY,CLM_AMT,CLM_COUNT,EXPOSURE
0,63581743,0,1939-03-16,60.0,0,11.0,67000.0,No,NaN,No,...,11,Minivan,yes,No,3,18.0,Highly Urban/ Urban,0,0,0.189
1,132761049,0,1956-01-21,43.0,0,11.0,91000.0,No,257000.0,No,...,1,Minivan,yes,No,0,1.0,Highly Urban/ Urban,0,0,1.000
2,921317019,0,1951-11-18,48.0,0,11.0,53000.0,No,NaN,No,...,1,Van,yes,No,2,10.0,Highly Urban/ Urban,0,0,1.000
3,727598473,0,1964-03-05,35.0,1,10.0,16000.0,No,124000.0,Yes,...,4,SUV,no,No,3,10.0,Highly Urban/ Urban,0,0,0.828
4,450221861,0,1948-06-05,51.0,0,14.0,NaN,No,306000.0,Yes,...,7,Minivan,yes,No,0,6.0,Highly Urban/ Urban,0,0,0.729

In [198]:
print(data[featurelabels].isna().any())
print()
print(data[outpuLabel].isna().any())

AGE            True
TRAVTIME      False
CAR_TYPE      False
OCCUPATION    False
EDUCATION     False
dtype: bool

CAR_USE    False
dtype: bool

In [199]:
print(data[featurelabels].isnull().any())
print()
print(data[outpuLabel].isnull().any())

AGE            True
TRAVTIME      False
CAR_TYPE      False
OCCUPATION    False
EDUCATION     False
dtype: bool

CAR_USE    False
dtype: bool

In [200]:
data.dropna(subset = ['AGE', 'TRAVTIME', 'CAR_TYPE', 'OCCUPATION', 'EDUCATION'], how='any', inplace=True)
print(data.shape)
data[featurelabels+outpuLabel].head()

(10295, 26)

    AGE  TRAVTIME CAR_TYPE    OCCUPATION      EDUCATION     CAR_USE
0  60.0        14  Minivan  Professional            PhD     Private
1  43.0        22  Minivan   Blue Collar    High School  Commercial
2  48.0        26      Van       Manager      Bachelors     Private
3  35.0         5      SUV      Clerical    High School     Private
4  51.0        32  Minivan   Blue Collar  Below High Sc     Private

### 1.b (6 marks)
We want to encode categorical features as an integer array. Look up which sklearn function will allow you to do that and apply that on the input features. Also, remember to standardize your encoded features using `fit_transform` to create your final dataset. Finally, perform a 80-20 split on your dataset (80% for training, 20% for testing).

In [201]:
categoricalFeatures = ['CAR_TYPE', 'OCCUPATION', 'EDUCATION', 'CAR_USE']
numericfeatures = ['AGE', 'TRAVTIME']

featureDict = {}

for feature in categoricalFeatures:
    encoder = LabelEncoder()
    data[feature] = encoder.fit_transform(data[feature])

    labelMapping = encoder.classes_

    labelDict = {}


    for i, label in enumerate(labelMapping):
        # print(i, " -> ", label)
        labelDict[label] = i

    featureDict[feature] = labelDict

scaler = StandardScaler()
data[numericfeatures] = scaler.fit_transform(data[numericfeatures])

pprint.pprint(featureDict)

X = data[featurelabels]
Y = data[outpuLabel]

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.2)

{'CAR_TYPE': {'Minivan': 0,
              'Panel Truck': 1,
              'Pickup': 2,
              'SUV': 3,
              'Sports Car': 4,
              'Van': 5},
 'CAR_USE': {'Commercial': 0, 'Private': 1},
 'EDUCATION': {'Bachelors': 0,
               'Below High Sc': 1,
               'High School': 2,
               'Masters': 3,
               'PhD': 4},
 'OCCUPATION': {'Blue Collar': 0,
                'Clerical': 1,
                'Doctor': 2,
                'Home Maker': 3,
                'Lawyer': 4,
                'Manager': 5,
                'Professional': 6,
                'Student': 7,
                'Unknown': 8}}

In [202]:
X_Test.head()

           AGE  TRAVTIME  CAR_TYPE  OCCUPATION  EDUCATION
2033 -0.794489 -0.593662         0           0          0
6037  1.180870 -1.349801         3           2          4
342   0.251289 -0.278604         0           6          0
9105 -0.213501 -0.404627         0           1          2
891  -0.213501 -0.782697         5           2          4

### 1.c (6 marks)

i. Train a logistic regression model using `LogisticRegression`.

ii. Train a naive bayes model using `CategoricalNB` with a laplace smoothing of 0.5.

In [203]:
logisticRegresson = LogisticRegression()

logisticRegresson.fit(X_Train, Y_Train)
y_pred_LR = logisticRegresson.predict(X_Test)

print(y_pred_LR)

[1 1 1 ... 1 1 1]

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/utils/validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [204]:
categoricalNB = CategoricalNB(alpha = 0.5)

categoricalNB.fit(X_Train, Y_Train)
y_pred_NB = categoricalNB.predict(X_Test)

print(y_pred_NB)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/utils/validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Negative values in data passed to CategoricalNB (input X)

### 1.d (6 marks)
Compute and output the `accuracy_score` for both the classification models you learned on the testing partition.

In [184]:
print(accuracy_score(Y_Test, y_pred_LR))
print(accuracy_score(Y_Test, y_pred_NB))

0.6391452161243322

ValueError: Classification metrics can't handle a mix of binary and continuous-multioutput targets

### 1.e (6 marks)

Let us study a few fictitious persons (test cases). Use the `CategoricalNB` model for this task.

Person 1, whose age is 45, has a travel time of 46, works in a Manager occupation, has an education level of Masters, and owns a Minivan.

Person 2, whose age is 51, has a travel time of 32, works in a Clerical occupation, has an education level of Below High Sc, and owns a Pickup.

Person 3, whose age is 25, has a travel time of 14, works in a Blue Collar occupation, has an education level of High School, and owns a SUV.

Display a datraframe that captures all the above information, alongwith two additional columns which will display the Car Use probabilities of these three people.

In [ ]:
featureDict

### 1.f (5 marks)
Generate a histogram of the predicted probabilities of *CAR_USE = Private* using the `CategoricalNB` model.  The bin width is 0.05.  The vertical axis is the proportion of all the observations.

### 1.g (4 marks)
Using a classification threshold of 0.6 i.e., the class with a probability >= 0.6 is the correct output, what is the misclassification rate (computed on all the observations) of the `CategoricalNB` model?

### Problem 2: Linear Regression (20 marks)

`lab02_dataset_2.csv` contains 238 observations on customer purchase history. You will use the observations in this dataset to train models that predict the loyalty score of a customer. The input features which will be used for your training are *age, annual_income, purchase_amount, purchase_frequency* and your output label is *loyalty_score*.

### 2.a (2 marks)
Use the `MinMaxScaler` to transform the input features. Then apply a train-test split of 80-20 to generate the training and testing sets.

### 2.b (10 marks)
Complete the empty functions inside the `myLinearRegression` class so that you can be perform linear regression without using sklearn. You are free to add additional helper functions if you need them. We will use a learning rate of 0.01 and 1000 training iterations for the learning task.

In [ ]:
class myLinearRegression():
    def __init__(self, learning_rate, iterations):
        self.learning_rate = learning_rate
        self.iterations = iterations

    # Model fitting. Initialize all the weights and bias with 0.0. Update them using gradient descent.
    # Use the linear regression formulation as shown in the slides: W = W - (learning_rate/n)*sum[X(W.X - Y)]
    def fit(self, X, Y):
        pass
    
    def predict(self, X):
        pass

model = myLinearRegression(learning_rate = 0.01, iterations = 1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

### 2.c (2 marks)
Compute and output the `mean_squared_error` between the prediction and the true test labels.

### 2.d (6 marks)
Now using sklearn `SGDRegressor` and `LinearRegression` learn two corresponding models using the same training set and test it on the test set. Output the `mean_squared_error` of both the models.

### Problem 3: Regularization (15 marks)

`lab02_dataset_3.csv` has 6,435 observations pertaining to Walmart sales and employment. The input features for your training task are *Weekly_Sales, Holiday_Flag, Temperature, Fuel_Price, CPI* and the output label is *Unemployment*. For this problem, you will be using regression with regularization.

### 3.a (3 marks)
Use the sklearn `StandardScaler` to transform the input features.

In [205]:
data = pd.read_csv('lab02_dataset_3.csv')
data.head()

inputFeartures = ['Weekly_Sales', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI']
outputfeatures = ['Unemployment']

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,1554806.68,0,46.50,2.625,211.350143,8.106

### 3.b (4 marks)

Use sklearn `ridge_regression` with `alpha=1.5` to compute the coefficients of the linear regression model. What are the two most important features (feature with the largest positive/negative weights are the most relevant)?

Two most important features: ____________________________

### 3.c (4 marks)
Compute the Pearson correlation coefficient between the input features and the output.

The correlation coefficient aligns well with the feature importance as seen in 3.b. Yes or No? __________

### 3.d (4 marks)
Create a correlation heatmap using the input features and the output.